<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
<mapper namespace="com.panda.system.mapper.TestMapper">

	<select id="testList" resultType="com.panda.system.dao.Test">
-- 		SELECT t.id,t.name FROM  test t
	SELECT t.id,t.name FROM test t
	</select>
	
</mapper>